* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
body {
    background-color: #edfcfc;
    --nav-load-time:400ms;
    --nav-link-load-time:500ms;
    --article-load-delay:calc( var(--nav-load-time) + var(--nav-link-load-time))
    
}
/* section{
    height: 100vh;
    
} */

/* navigation beginning */
#g-head {
    width: 100%;
     /* height: 100vh; */
    font-family: 'Galada', 'Quattrocento', 'poppins', 'qahiri', 'wellfeet', sans-serif;
    position: relative;
    background-color: #262626;
    
    
}

#g-head .contain{
    width: 100%;
}
nav h1 {
    color: white;
}

nav {
    width:100%;
    margin: auto;
    /* padding: 20px 0; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #262626;
    animation:nav-load var(--nav-load-time) ease-out 400ms;


}
@keyframes nav-load {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
    
 } 
nav i{
    color: red;
}

nav ul li :hover {
    color: blue;
} 

nav ul li {
    list-style: none;
    display: inline-block;
    flex-basis: 10%;
    margin: 10px 20px;
    animation-name: nav-link-load;
    animation-timing-function: ease-in;
    animation-delay: var(--nav-load-time);
    animation-fill-mode: forwards;
    transform: scale(0);
}

@keyframes nav-link-load {
    0%{
        transform: scale(0);
    }

    90%{
        transform: scale(1.0);
    }
    100%{
        transform: scale(1);
    }
    
}

nav ul li a {
    text-decoration: none;
    color: orange;
    font-size: 120%;

}
nav .fas{
    display: none;
}

/* End navigation */

/* first body contents */
#pic {
    margin-top: 15%;
    margin-left: 8%;
    color: blue;
    line-height: 160%;
    
    
}


#pic h2 {
    /* font-size: 37px; */
     font-size: 235%; 
    padding-right: 35%;
    margin-right: 10%;
    animation: article-load 300ms ease-in var(--article-load-delay);
    animation-fill-mode: forwards;
    transform: translateY(-50px);
    opacity: 0;
    
}

@keyframes article-load{
    0%{
        transform: translateY(-50px);
        opacity: 0;

    }
    100%{
        transform: translateY(0px);
        opacity: 1;

    }
}
#pic h3{
    display: none;
}
#mb-only{
    display: none;
}
span {
    color: orange;
}

#pic p {
    /* font-size: 20px; */
    font-size: 125%;
    animation: article-load 300ms ease-in var(--article-load-delay);
    animation-fill-mode: forwards;
    transform: translateY(-50px);
    opacity: 0;
    
}

.img-box {
    width: 45%;
    height: 90%;
    position: absolute;
    bottom: 0;
    /* right: 130px; */
    right: 11%;
} 

 .img-box img {
    height: 80%;
    position: absolute;
    left: 35%;
    bottom: 0;
    border: 15px solid black;
    transition: bottom 1s, left 1s;
    cursor: pointer;
    border-radius: 5%;

}

.img-box:hover #in-img {
    left: 44%;
} 

/* End first body contents */


/* -----------------------ABOUT ME------------------------------ */
#about-me {
    margin-top: 18%;
    padding: 5% 0;
    /* transform: translateY(100%); */
    /* transform: translate3d(0, 20px, 0); */
    transition: opacity 0.1s;
}

.sub {
    color: orange;
     font-size: 40px;
}

.container-2 {
    display: flex;
    justify-content:  space-between;
    flex-wrap: wrap;
    scroll-snap-type: y mandatory;
}

#about-me .con-1 {
    /* flex-basis: 55%; */
    flex-basis:35%;

}

#about-me .con-1 img {
    width: 80%;
    /* width: 65%; */
    border: 15px solid black;
    margin-left: 10%;
    border-radius: 5%;
}

#about-me .con-2 {
    /* flex-basis: 40%; */
    flex-basis: 60%;


} 
#about-me .con-2 .mob{
    font-size: 105%;
    color: #262626;
}


.p-mobile{
    display: none;
}


/* FOR THE PROGRESS BAR */
.main{
   width: 400px;
   margin-top: 5px;
   position: relative;
}

.main .box{
    width: 100%;
    margin: 25px 0;
}

.box .title{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #000;
}
.box .bar{
    width: 100%;
    background: rgba(0,0,0,0.1);
    height: 8px;
    border-radius: 6px;
    margin-top: 6px;
}

.bar .perc{
  position: relative;
  display: block;
  height: 100%;
  width: 85%;
  background: #4070f4;
 
}

.bar .perc2{
    position: relative;
    display: block;
    height: 100%;
    width: 85%;
    background: #4070f4;
   
  }

  .bar .perc3{
    position: relative;
    display: block;
    height: 100%;
    width: 75%;
    background: #4070f4;
   
  }

  .bar .perc4{
    position: relative;
    display: block;
    height: 100%;
    width: 70%;
    background: #4070f4;
   
  }

  .bar .perc5{
    position: relative;
    display: block;
    height: 100%;
    width: 65%;
    background: #4070f4;
   
  }

  .bar .perc6{
    position: relative;
    display: block;
    height: 100%;
    width: 55%;
    background: #4070f4;
   
  }

.bar .perc7{
    position: relative;
    display: block;
    height: 100%;
    width: 55%;
    background: #4070f4;
   
  }

/* the tooltip */

.tooltip{
  position: absolute;
  right: 42px;
  top: -15px;
  font-size: 20px;
  font-weight: 500;
  color: #333;
  padding: 2px 6px;
  background: #4070f4;
  border-radius: 3px;
  z-index: 1;
}

.tooltip::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #4070f4;
    transform: translateY(-50%)rotate(45deg);
}

.tooltip2{
    position: absolute;
    right: 42px;
    top: -15px;
    font-size: 20px;
    font-weight: 500;
    color: #333;
    padding: 2px 6px;
    background: #4070f4;
    border-radius: 3px;
    z-index: 1;
  }
  
  .tooltip2::before{
      content: '';
      position: absolute;
      left: 50%;
      bottom: -10px;
      height: 10px;
      width: 10px;
      z-index: -1;
      background-color: #4070f4;
      transform: translateY(-50%)rotate(45deg);
  }

  .tooltip3{
    position: absolute;
    right: 79px;
    top: -15px;
    font-size: 20px;
    font-weight: 500;
    color: #333;
    padding: 2px 6px;
    background: #4070f4;
    border-radius: 3px;
    z-index: 1;
  }
  
  .tooltip3::before{
      content: '';
      position: absolute;
      left: 50%;
      bottom: -10px;
      height: 10px;
      width: 10px;
      z-index: -1;
      background-color: #4070f4;
      transform: translateY(-50%)rotate(45deg);
  }

  .tooltip4{
    position: absolute;
    right: 98px;
    top: -15px;
    font-size: 20px;
    font-weight: 500;
    color: #333;
    padding: 2px 6px;
    background: #4070f4;
    border-radius: 3px;
    z-index: 1;
  }
  
  .tooltip4::before{
      content: '';
      position: absolute;
      left: 50%;
      bottom: -10px;
      height: 10px;
      width: 10px;
      z-index: -1;
      background-color: #4070f4;
      transform: translateY(-50%)rotate(45deg);
  }

  .tooltip5{
    position: absolute;
    right: 120px;
    top: -15px;
    font-size: 20px;
    font-weight: 500;
    color: #333;
    padding: 2px 6px;
    background: #4070f4;
    border-radius: 3px;
    z-index: 1;
  }
  
  .tooltip5::before{
      content: '';
      position: absolute;
      left: 50%;
      bottom: -10px;
      height: 10px;
      width: 10px;
      z-index: -1;
      background-color: #4070f4;
      transform: translateY(-50%)rotate(45deg);
  }

  .tooltip6{
    position: absolute;
    right: 162px;
    top: -15px;
    font-size: 20px;
    font-weight: 500;
    color: #333;
    padding: 2px 6px;
    background: #4070f4;
    border-radius: 3px;
    z-index: 1;
  }
  
  .tooltip6::before{
      content: '';
      position: absolute;
      left: 50%;
      bottom: -10px;
      height: 10px;
      width: 10px;
      z-index: -1;
      background-color: #4070f4;
      transform: translateY(-50%)rotate(45deg);
  }

  

.tooltip7{
    position: absolute;
    right: 162px;
    top: -15px;
    font-size: 20px;
    font-weight: 500;
    color: #333;
    padding: 2px 6px;
    background: #4070f4;
    border-radius: 3px;
    z-index: 1;
  }
  
  .tooltip7::before{
      content: '';
      position: absolute;
      left: 50%;
      bottom: -10px;
      height: 10px;
      width: 10px;
      z-index: -1;
      background-color: #4070f4;
      transform: translateY(-50%)rotate(45deg);
  }
  
/* END OF ABOUT ME */

/* BEGIN PROJECTS */

#my-projects {
    margin-top: 10px;
    padding: 20px 0;
    padding-left: 11%;
    padding-right: 2%;
}

#my-projects h1 {
    color: orange;
    text-align: center;
}

#my-projects h2 {
    color: blue;
}

/* #my-projects .col-1 {
    flex-basis: 50%;
}

#my-projects .col-2 {
    flex-basis: 40%;
} */


#my-projects .col-1 a {
    text-decoration: none;
    color: white;
}

#my-projects .col-2 a {
    text-decoration: none;
    color: white;
}

#my-projects .col-3 a {
    text-decoration: none;
    color: white;
}

#my-projects .col-4 a {
    text-decoration: none;
    color: white;
}

.three-mob{
    display: none;
}
button {
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    width: 7em;
    font-size: 12px;
    background: orange; 
    transform-origin: 50% 5em;
    font-family: Arial, Helvetica, sans-serif;
    animation: wiggle 2s linear infinite;
}

@keyframes wiggle{
    0%,7%{
        transform: rotateZ(0);
    }
    15%{
        transform: rotateZ(-15deg);

    }
    20%{
        transform: rotateZ(10deg);
    }
    
    25%{
        transform: rotateZ(-10deg);
    }

    30%{
        transform: rotateZ(6deg);
    }

    35%{
        transform: rotateZ(-4deg);
    }

    40%, 100%{
        transform: rotateZ(0);
    }
}

#my-projects a{
    font-size: 115%;
}

/* to the top button */
.to-top{
    color:white;
    background: black;
    position: fixed;
    bottom: 2%;
    right: 5%;
    width: 50px;
    height: 50px;
    border-radius:50%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
   display: flex;
}

.to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
    transition: 4s;
}

/* end to top button */

/* CONTACT CONTENTS */
#contact-us{
    margin-top: 10px;
    padding: 20px 0;
    padding-left: 11%;
    padding-right: 2%;

}
#contact-us h1{
    color: orange;
    text-align: left;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top:30px ;
    color: blue;
    /* margin-right: 15px; */
    font-size: 20px;

}
.contact-left p i{
    color: blue;
    margin-right: 15px;
    font-size: 35px;
}
.soc-med{
    margin-top: 30px;
}
.soc-med a{
    text-decoration: none;
    margin-right: 15px;
    font-size: 30px;
    color: orange;
    display: inline-block;
    transition: transform 1s;
}
.soc-med a:hover{
    color: red;
    transform: translateY(-5px);
}
/* form */
.contact-right form{
    width: 100%;

}
form input, form textarea{
    width: 70%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 12px;
    border-radius: 6px;
}
form .btn2{
    /* 
    margin: 4px 2px;
    border-radius: 15%; */
    padding: 10px;
    cursor: pointer;
    position: absolute;
    left: calc(50%-3cm);
    top: calc(50%-2cm);
    width: 7em;
    background: orange; 
    border: none;
    color: #fff;
    transform-origin: 50% 5em;
    font-family: Arial, Helvetica, sans-serif;
    animation: wiggle 2s linear infinite;
}

@keyframes wiggle{
    0%,7%{
        transform: rotateZ(0);
    }
    15%{
        transform: rotateZ(-15deg);

    }
    20%{
        transform: rotateZ(10deg);
    }
    
    25%{
        transform: rotateZ(-10deg);
    }

    30%{
        transform: rotateZ(6deg);
    }

    35%{
        transform: rotateZ(-4deg);
    }

    40%, 100%{
        transform: rotateZ(0);
    }
}

/* End Form */

/* END CONTACT ME */

/* COPYRIGHT */
.copyright{
    width: 100%;
    margin-top: 10%;
    text-align: center;
    color: white;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;

}
.copyright i{
    color: red;
}


/* END COPYRIGHT */




/* FORM OUTPUT */
#msg{
    color: red;
    margin-top: 20px;
    display: block;
}
/* END FORM OUTPUT */